{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="header">
  <div class="logo">
    <h1>Ask<br />My<br />Book:</h1>
    <a href="https://www.amazon.com/Minimalist-Entrepreneur-Great-Founders-More/dp/0593192397">
      <img src="{% static 'book.png' %}" loading="lazy" />
    </a>
  </div>
  <div class="clear" style="overflow: hidden;"></div>
</div>

<div class="main">
  <form action="/" method="get">
    <textarea name="question" disabled="disabled">{{ question }}</textarea>
  </form>

  <p><strong>Answer: </strong><span id="answer">{{ answer }}</span> <button id="ask-another-button" style="display: none;">Ask another question</button></p>

  {% if audio_src_url %}
    <audio id="audio" controls autoplay>
      <source src="{{ audio_src_url }}" type="audio/wav">
    </audio>
  {% endif %}
</div>

<script>
  $(document).ready(function() {
    function randomInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    var showText = function (target, message, index) {
      if (index < message.length) {
        var interval = randomInteger(30, 70);
        $(target).append(message[index++]);
        setTimeout(function () { showText(target, message, index); }, interval);
      } else {
        $("#ask-another-button").css("display", "block");
      }
    }

    $("#ask-another-button").click(function(e) {
      window.location.replace("/");
    });

    var answer = document.getElementById('answer').innerHTML;
    $("#answer").empty();
    showText("#answer", answer, 0, 50);
  });
</script>

{% endblock %}
