{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>
  Ask me anything
  <small>(about The Minimalist Entrepreneur)</small>
</h1>

<form action="/ask" method="post" onSubmit="return askQuestion()">
  {% csrf_token %}
  <textarea autofocus="autofocus" name="question" id="question">What is a minimalist entrepreneur?</textarea>
  <button type="submit" id="button">Ask</button>
</form>

<script>
  function askQuestion() {
    if (document.getElementById("question").value == "") {
      alert("Please ask a question!");
      return false;
    }

    let askButton = document.getElementById("button");
    askButton.textContent = "Asking...";
    askButton.disabled = true;
  }
</script>

{% endblock %}
