{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="header">
  <h1>Ask My Book</h1>
  <p style="color: #999;">Ask questions and get answers in real-time, powered by AI</p>
</div>

<div class="main">
  <div class="left">
    <h2>
      1. This is my book
    </h2>
    <a href="https://www.amazon.com/Minimalist-Entrepreneur-Great-Founders-More/dp/0593192397">
      <img src="{% static 'book.png' %}" />
    </a>
  </div>
  <div class="right">
    <h2>
      2. Ask it a question
    </h2>
    <form action="/ask" method="post">
      {% csrf_token %}
      <textarea autofocus="autofocus" name="question" id="question">{{ default_question }}</textarea>
      <button type="submit" id="button">Ask</button>
    </form>

    <h2 style="margin-top: 2rem;">3. Get an answer:</h2>

    <audio id="audio" controls autoplay>
      <source src="" type="audio/wav">
    </audio>

    <p class="credits">Built by <a href="https://twitter.com/shl">Sahil Lavingia</a></p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("textarea").click(function(e) {
      $(this).select();
    });

    $("form").submit(function(e) {
      if (document.getElementById("question").value == "") {
        alert("Please ask a question!");
        e.preventDefault();
        return false;
      }

      let askButton = document.getElementById("button");
      askButton.textContent = "Asking...";
      askButton.disabled = true;

      $.ajax({
        type: 'POST',
        url: '/ask',
        data: $("form").serialize(),
        datatype: "json",
        encode: true
      }).done(function(data) {
        let audioSrc = data.audio_src_url;

        var audio = document.getElementById('audio');
        audio.src = audioSrc;

        audio.classList.add("showing");
        audio.play();

        askButton.textContent = "Ask";
        askButton.disabled = false;
      });

      $('#audio').on('ended', function() {
        $("textarea").focus().select();
      });

      e.preventDefault();
      return false;
    });

  });
</script>

{% endblock %}
